	html, body {
	    margin: 0px;
	    padding: 0px;
	    background-color: blue;
	    overflow:hidden;
	}

	.colLeft{
		background-color: green;
		margin: 0px;
	    padding: 0px;
	    border: 0px;
	    height: 100%;
	    width: 100%;
	}
	.colRight{
		background-color: white;
		margin: 0px;
	    padding: 0px;
	    border: 0px;
	    height: 100%;
	    width: 100%;
	}
	.col{
		background-color: white;
		margin: 0px;
	    padding: 0px;
	    border: 0px;
	    height: 100%;
	    width: 100%;
	}
	.row{
		background-color: yellow;
		margin: 0px;
	    padding: 0px;
	    border: 0px;
	    height:100%;
	    width: 100%;
	}
	#sonarFrame{
		border: 0px;
	    -webkit-transform-origin: 0 0;
	    background: white;
	    margin: 0px;
	    padding: 0px 0px 0px 0px;/*padding: 0px 50px 0px 0px;*/
	}
	#jenkinsFrame {
		border: 0px;
	    -webkit-transform-origin: 0 0;
	    background: green;
	    margin: 0px;
	    padding: 0px 0px 0px 0px;
	}